{% extends "pessoas/pessoa_base.html" %}
{% load staticfiles %}

{% block top_panel %}
{% include 'bits/botao_adicionar.html' with nav=True btnurl='pessoas-adicionar' %}
{% endblock %}

{% block content %}
<h1>Listagem</h1>
<div class="hidden-sm hidden-md hidden-lg action-panel-xs">
    {% include 'bits/botao_adicionar.html' with btnurl='pessoas-adicionar' %}
</div>
<table id="pessoa-lista" class="table table-striped">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
    </tr>
    </thead>
    <tbody>
    {% for pessoa in object_list %}
        <tr class="selectable" data-url="{% url 'pessoas-visualizar' pessoa.pk %}">
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.sobrenome }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extra_scripts %}
<script src="{% static "js/pessoas.js" %}"></script>
{% endblock %}