{% extends "layout.html" %}

{% block top_panel %}
<div class="row">
    <div class="col-sm-9"><h1>Pessoas</h1></div>
    <div class="col-sm-3 hidden-xs" style="padding-top:20px">{% include 'pessoas/bits/botao_adicionar.html' %}</div>
</div>
{% endblock %}

{% block content %}
<div class="hidden-sm hidden-md hidden-lg action-panel-xs">
    {% include 'pessoas/bits/botao_adicionar.html' %}
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
    </tr>
    </thead>
    <tbody>
    {% for pessoa in object_list %}
        <tr>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.sobrenome }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

