.container {
    padding-top: 75px;
}

.top-panel {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #fff;
}

.action-panel-xs {
    position:fixed;
    bottom: 45px;
    right: 24px;
}

.errorlist {
    color: #B22222;
}

ul.errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
}