.content {
    padding-top: 70px;
}

.container {
    max-width: 730px;
}

a.navbar-title {
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
    color: inherit;
    text-decoration: inherit;
    float: left;
}

.top-action {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.action-panel-xs {
    position:fixed;
    bottom: 45px;
    right: 24px;
    z-index: 999;
}

.errorlist {
    color: #B22222;
}

ul.errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

tbody>tr.selectable:active {
    background: #AED6F1;
}

.title-row {
    display: flex;
    align-items: center;
}

.right-control {
    text-align: right;
}

.action-column {
    display: flex;
    flex-direction: row-reverse;
}

.action-item {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    background: none;
}

.action-item.active.focus, .action-item.active:focus, .action-item.focus, .action-item:active.focus,
.action-item:active:focus, .action-item:focus, .action-item:hover, .action-item:active {
    outline: none;
    border: none;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.accommodate-button {
    height: 85px;
}

.action-item span {
    color: #d9534f;
    font-size: x-large;
}