.content {
    padding-top: 70px;
}

a.navbar-title {
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
    color: inherit;
    text-decoration: inherit;
    float: left;
}

.top-action {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.action-panel-xs {
    position:fixed;
    bottom: 45px;
    right: 24px;
}

.errorlist {
    color: #B22222;
}

ul.errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

tbody>tr.selectable:active {
    background: #AED6F1;
}