{% extends "salas/sala_base.html" %}

{% block top_panel %}
{% include 'bits/botao_atualizar.html' with nav=True btnurl='salas-atualizar' %}
{% endblock %}

{% block content %}
<h1>Detalhes</h1>
<div class="hidden-sm hidden-md hidden-lg action-panel-xs">
    {% include 'bits/botao_atualizar.html' with btnurl='salas-atualizar' %}
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <h4>Nome</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span>{{ object.nome }}</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <h4>Descrição</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span>{{ object.descricao }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}