{% extends "layout.html" %}

{% load staticfiles %}

{% block title_url %}
{% url "atendimentos-entrada" %}
{% endblock %}

{% block title %}
Atendimento
{% endblock %}

{% block navbar %}
{% include "bits/navbar.html" with atendimentos=True %}
{% endblock %}

{% block content %}
<h1>Atendimento</h1>
<form action="." method="get" class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-9">
            <input type="text" class="form-control" name="q" value="{{ q }}">
        </div>
        <div class="col-xs-3">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>
<table id="atendimentos-lista" class="table table-striped">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
    </tr>
    </thead>
    <tbody>
    {% for pessoa in object_list %}
        <tr class="selectable" data-url="{% url 'atendimentos-visualizar' pessoa.pk %}">
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.sobrenome }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extra_scripts %}
<script src="{% static "js/atendimentos.js" %}"></script>
{% endblock %}