<div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="id_{{ field.name }}" class="{% if not label_visible %} sr-only{% else %} {% if short %}col-xs-6 col-sm-3{% else %}col-xs-2{% endif %}{% endif %}">{{ label|default_if_none:field.label }}:</label>
    <div class="{% if label_visible %} {% if short %}col-xs-6 col-sm-9{% else %}col-xs-10{% endif %}{% else %}col-xs-12{% endif %}">
        {% block widget %}{% endblock %}
        {% if field.errors %}
        <ul class="errorlist">
        {% for error in field.errors %}
            <li><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> <strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>